* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 950px;
  /* background-color: red; */
  background: #ffffff;
}
.container .navbar {
  float: left;
  width: 6%;
  height: 100%;
  background-color: #191718;
}

.navbar a {
  line-height: 18.75px;
  font-weight: 700;
  padding: 44px;
  border-bottom: 1px solid #5c5c5c;
  color: #aaaaaa;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.navbar #hover {
  color: #fff;
}

.navbar a.active {
  background-color: #5c5c5c;
  color: #fff;
}

/* End navbar */
/* Start content */

.container .content {
  width: 94%;
  float: left;
  justify-content: center;
  align-items: center;
  height: 95%;
}
.content .logo {
  width: 310px;
  display: block;
  margin-left: 40%;

  margin-top: 20px;
  height: 122px;
  margin-bottom: 30px;
}
.content .text_content {
  width: 80%;
  margin: 0 auto;
  background-color: #efefef;
  height: 210px;
}

.text_content .title_textcontent {
  text-align: center;
  padding: 28px 0;
}
.text_content .ptextcontent {
  width: 80%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}

.content .group_content {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
.group_content .group1 {
  height: 100%;
  width: 30%;
  float: left;
  margin-right: 3%;
}
.group1 h3 {
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
}
.group1 .img_title {
  width: 100%;
  height: 80%;
}
.img_title .img1 {
  width: 30%;
  float: left;
  height: 100%;
  width: 128px;
  height: 128px;
}
/* End Content */
/* Start Footer */

.content .footer {
  width: 100%;
  height: 50px;
  padding-left: 100px;
  padding-top: 20px;

  color: #3e3e3e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-top: 1px solid #3e3e3e;
}
